<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>HTML Screenshot Service</display-name>
	<servlet>
		<servlet-name>Service Servlet</servlet-name>
		<servlet-class>de.mpg.mpdl.htmlScreenshotService.service.HtmlScreenshotServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>Service Servlet</servlet-name>
		<url-pattern>/html-screenshot</url-pattern>
	</servlet-mapping>
</web-app>
